body{
	width: 100%;
	background-image: url(../img/tokyo.jpg);
}

h2{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
}



.head {
    /*position: fixed;*/
    display: flex;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    padding-top: 0rem;
    z-index: 1800;
    height: 90px;
}

.head img {
    margin-top: 10px;
}

.radius {
    border-radius: 50%;
}

.userlogin {
    text-align: center;
    color: white;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 6rem;
    background-color: rgb(240, 77, 77);
    height: 1.8rem;
    border-radius: 30px;
}

.head ul {
    display: flex;
    font-size: 18px;
    list-style: none;
    margin-top: -1rem;
    margin-left: 32rem;
}

.head li {
   margin: 2rem 2rem -1rem 0;
   padding: 0.3rem;
   height: 25px;
   background-color:rgb(240, 77, 77);
   border-radius: 40px;
}

.head a {
	color: white;
	text-decoration: none;
}
/*form*/

.form{
	margin: 0 auto;
	width: 50%;
	background-color: #fcfaf7;
	border-radius: 20px;
	height: 1150px;
}

.form h2{
	text-align: center;
	font-size: 40px;
}


.forminside {
	font-size: 20px;
	margin: 30px 20px 10px 150px; 
	width: 400px;
}

/*confirmations*/

.con {
	height: 33px;
    margin: 8px;
    background-color:rgba(238, 229, 222, 0.925);
    border-radius: 3px;
    border: 2px solid rgba(238, 229, 222, 0.8);
}



/*button*/
.form input[type="text"] {
	border: 3px solid black;
	border-radius: 5px;
	margin:0 auto;
	height: 20px;
	width: 300px;
}


.form input[type="number"] {
	border: 3px solid black;
	border-radius: 5px;
	margin:0 auto;
	height: 20px;
	width: 300px;
}

.form input[type="password"] {
	border: 3px solid black;
	border-radius: 5px;
	margin:0 auto;
	height: 20px;
	width: 300px;
}

.form input[type="email"]{
	border: 3px solid black;
	border-radius: 5px;
	margin: 0 auto;
	height: 20px;
	width: 300px;
}

.textarea {
	margin-top: -40px;
}
#pic {
	border-radius: 50%;
	margin-top: 20px;
}

input[type="btn"]{
	display: inline-block;
	border-radius: 90px;
	height: 30px;
	width: 300px;
	margin: 30px 70px 10px 20px; 
	font-size: 20px;
	background-color: rgb(243, 61, 61);
	color: white;
	box-shadow: 0 1px 0 1px;
}

input[type="btn"]:focus{
	outline: none;
	opacity: 0.9;
}

input[type="btn"]:hover{
	opacity: 0.9;
}